NETWORK_NAME=fileika-school-default

# MySQL root password
MYSQL_PASSWORD=prisma

# Database access link for nextjs-nexus
# user:password@host:port/database_name
NEXTJS_DATABASE_URL=mysql://root:prisma@mysql:3306/fileika-school

# Required for yarn prisma:seed
# Create sudo use with username "admin" and this password
NEXTJS_SUDO_PASSWORD=

# API_ENDPOINT=http://api:4000
APP_SECRET=YOUR_STRONG_SECRET
